body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	background-image: url(../images/cloud.png);
	background-color: #51b6db;
	background-repeat: no-repeat;
	font-family: "微软雅黑"
    font-size: 16px;
}

.content {
	position: relative;
	width: 1200px;
	height: 174rem;
    margin: 39rem auto 0;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.2);
}

/* up */

#up-wrap {
	position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    opacity: 0.5;
    cursor: pointer;
}

#up {
	display: none;
    width: 4rem;
    height: 4rem;
    background-image: url(../images/up.png);
    background-repeat: no-repeat;
    background-size: 4rem;
    
}


/* fly-top */

.fly-top {
	position: absolute;
	top: -33rem;
    left: 12rem;
}

#img-fly-right {
	position: absolute;
    width: 7rem;
    top: 0rem;
    animation: flyUp 3s linear infinite;
}

#img-flag-top {
	position: absolute;
    left: -12rem;
    top: -1.5rem;
    width: 13rem;
    z-index: -1;
    animation: flagUp 3s linear infinite;
}

@keyframes flyUp {
	0% {top: 0rem;}
	40% {top: -1rem;}
	60% {top: -1rem;}
	80% {top: 0rem;}
	100% {top: 0rem;}
}

@keyframes flagUp {
	0% {top: -1.5rem;}
	40% {top: -1.5rem;transform: rotate(-8deg);}
	60% {top: -2.5rem;transform: rotate(0deg);}
	80% {top: -2.5rem;transform: rotate(8deg);}
	100% {top: -1.5rem;transform: rotate(0deg);}
}

/* earth */

.earth {
	position: absolute;
	top:-28rem;
	left: 7rem;
	z-index: -1;
	animation: earthRound 60s linear infinite;
}

#img-earth {
	width: 60rem;
	height: 60rem;
}

#img-title {
    position: absolute;
    top: -13rem;
    left: 27.5rem;
    width: 18rem;
}


@keyframes earthRound {
	from {transform: rotate(0deg);}
	to {transform: rotate(-360deg);}
}

#img-people {
    position: absolute;
    left: 4rem;
    top: 3rem;
    width: 7rem;
}

/* star */

.star {

}

#img-star0,#img-star1,#img-star2,#img-star3,#img-star4,#img-star5,#img-star6 {
	border-radius: 50px;
}

@keyframes starLit {
	0% {box-shadow: 0 0 0px 0px white;background-color: #61bcdd;}
	25% {box-shadow: 0 0 50px 0px white;background-color: rgba(255,255,255,0.4);}
	50% {box-shadow: 0 0 0px 0px white;background-color: #61bcdd;}
	75% {box-shadow: 0 0 50px 0px white;background-color: rgba(255,255,255,0.4);}
	100% {box-shadow: 0 0 0px 0px white;background-color: #61bcdd;}
}

@keyframes starshrine {
	0% {transform: scale(1,1);}
	50% {transform: scale(0.5,0.5);}
	100% {transform: scale(1,1);}
}

#img-star0 {
	position: relative;
    top: 7rem;
    left: -3rem;
    transform: matrix(0.939693,0.342020,-0.342020,0.939693,0,0);
}

@keyframes starShow0 {
	0% {transform: matrix(0,0.342020,-0.342020,0,0,0);}
	100% {transform: matrix(0.939693,0.342020,-0.342020,0.939693,0,0);}
}

#img-star1 {
    position: relative;
    top: 1rem;
    left: -3rem;
    transform: matrix(1.166025,-0.500000,0.500000,1.166025,0,0);
}

@keyframes starShow1 {
	0% {transform: matrix(0,-0.500000,0.500000,0,0,0);}
	100% {transform: matrix(1.366025,-0.500000,0.500000,1.366025,0,0);}
}

#img-star2 {
    position: relative;
    top: 2.4rem;
    left: 0.4rem;
    transform: matrix(0.439693,0.342020,-0.342020,0.439693,0,0);
}

@keyframes starShow2 {
	0% {transform: matrix(0,0.342020,-0.342020,0,0,0);}
	100% {transform: matrix(0.439693,0.342020,-0.342020,0.439693,0,0);}
}

#img-star3 {
	position: relative;
	top: 1rem;
    left: 1rem;
}

@keyframes starShow3 {
	0% {transform: scale(0,0);}
	100% {transform: scale(1,1);}
}

#img-star4 {
	position: relative;
	top: 1.4rem;
    left: 10.4rem;
    transform: matrix(0.439693,0.342020,-0.342020,0.439693,0,0);
}

@keyframes starShow4 {
	0% {transform: matrix(0,0.342020,-0.342020,0,0,0);}
	100% {transform: matrix(0.439693,0.342020,-0.342020,0.439693,0,0);}
}

#img-star5 {
	position: relative;
	top: 0.4rem;
    left: 13.2rem;
    transform: matrix(0.439693,0.342020,-0.342020,0.439693,0,0);
}

@keyframes starShow5 {
	0% {transform: matrix(0,0.342020,-0.342020,0,0,0);}
	100% {transform: matrix(0.439693,0.342020,-0.342020,0.439693,0,0);}
}

#img-star6 {
	position: relative;
    top: 2rem;
    left: 14rem;
}

@keyframes starShow6 {
	0% {transform: scale(0,0);}
	100% {transform: scale(1,1);}
}

/* fly */
#fly {
	position: relative;
    top: 12rem;
    left: 24rem;
    z-index: -1;
    /*animation: flyFlow 1s linear 1s;*/
    /*transform: translate(10px,10px);*/
}

@keyframes flyFlow {
	0% {top: 12rem;left: 24rem;transform: scale(1,1);}
	100% {top: 3rem;left: 9rem;transform: scale(0,0);}
}

/* city */

.wrap {
	position: absolute;
	perspective: 800px;
	perspective-origin: 10% 198px;
	/*display: none;*/
}

.city {
	width: 10rem;
	transform-style: preserve-3d;
	transform-origin: bottom; 
	/*animation: up 0.6s cubic-bezier(0.68, 0.03, 0.99, 1);*/
}

.job {
	width: 19rem;
    height: 13rem;
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
}

.job p {
	position: relative;
    top: -1rem;
    left: 7rem;
    width: 11.5rem;
    line-height: 2rem;
    color: white;
    font-size: 1.1rem;
}

.job p:first-child {
	color: black;
    font-weight: bold;
}


@keyframes up
{
	0% {transform: rotateX(90deg);}
	50% {transform: rotateX(40deg);}
	60% {transform: rotateX(30deg);}
	70% {transform: rotateX(20deg);}
	80% {transform: rotateX(0deg);}
	90% {transform: rotateX(10deg);}
	100% {transform: rotateX(0deg);}
}

#city1 {
    top: 3.5rem;
    left: 20.5rem;
}

#city1 .city {
    display: none;
	transform: rotateX(96deg);
}

#img-city1 {
	width: 20rem;
}

#city1 .city .job {
    position: absolute;
    top: 6.4rem;
    left: 15rem;
    z-index: -1;
}

#city2 {
    top: 25rem;
    left: 4.2rem;
}

#city2 .city {
    display: none;
    transform: rotateX(104deg);
}

#city2 .city .job {
    position: absolute;
    top: 11rem;
    left: 10rem;
    z-index: -1;
}

#img-city2 {
	width: 16rem;
}

#city3 {
    top: 23.5rem;
    left: 40.3rem;
}

#city3 .city {
    display: none;
    transform: rotateX(107deg);
}

#city3 .city .job {
    position: absolute;
    top: 12rem;
    left: 11rem;
    z-index: -1;
}

#img-city3 {
	width: 18rem;
}

#city4 {
    top: 63rem;
    left: 2.3rem;
}

#city4 .city {
    display: none;
    transform: rotateX(89deg);
}

#city4 .city .job {
    position: absolute;
    top: 4rem;
    left: 16rem;
    z-index: -1;
    transform-origin: left;
    transform: rotate(-49deg);
}

#img-city4 {
	width: 22rem;
}

#city5 {
    top: 58rem;
    left: 45.5rem;
}

#city5 .city {
    display: none;
    transform: rotateX(103deg);
}

#city5 .city .job {
    position: absolute;
    top: 9rem;
    left: 2rem;
    z-index: -1;
}

#img-city5 {
	width: 7rem;
}

@keyframes flagDown {
    0% {transform: rotate(-49deg);}
    10% {transform: rotate(-59deg);}
    50% {transform: rotate(-10deg);}
    60% {transform: rotate(10deg);}
    70% {transform: rotate(-3deg);}
    90% {transform: rotate(2deg);}
    100% {transform: rotate(0deg);}
}

/* gain */

#gain {
    position: absolute;
    perspective: 800px;
    perspective-origin: 10% 1100px;
}


.gain-title {
	width: 7rem;
	color: #51b6db;
	font-size: 0.9rem;
	text-align: center;
    font-weight: bold;
}

.gain-content {
	width: 7rem;
	color: white;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

#gain-flag {
	position: absolute;
    top: 89.9rem;
    left: 57.5rem;
}

#gain1, #gain2, #gain3, #gain4 {
    width: 17rem;
    height: 19rem;
 }

#gain1 {
	position: absolute;
	top: 85.5rem;
    left: 39rem;
    background-image: url(../images/gainleft.png);
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transform-origin: right;
}


#gain2 {
	position: absolute;
    top: 85.5rem;
    left: 10.5rem;
    background-image: url(../images/gainleft.png);
    background-repeat: no-repeat;
}

#gain3 {
	position: absolute;
    top: 102.8rem;
    left: 14rem;
    background-image: url(../images/gainRight.png);
    background-repeat: no-repeat;
}

#gain4 {
	position: absolute;
    top: 102.8rem;
    left: 42rem;
    background-image: url(../images/gainRight.png);
    background-repeat: no-repeat;
}


#gain1 p {
    position: relative;
    top: 1.5rem;
    left: 3rem;
}


#gain2 p {
    position: relative;
    top: 1.5rem;
    left: 3rem;
}


#gain3 p {
    position: relative;
    top: 1.5rem;
    left: 1rem;
}


#gain4 p {
    position: relative;
    top: 1.5rem;
    left: 1rem;
}

#img-leftRow1, #img-leftRow2 {
    position: absolute;
    top: 2rem;
    left: -6.2rem;
    transform-style: preserve-3d;
    transform-origin: right;
}

#img-leftRow1 {
    transform: rotateY(-129deg);
}

#img-leftRow2 {
    transform: rotateY(-105deg);
    z-index: -1;
}


#img-rightRow1, #img-rightRow2 {
    position: absolute;
    top: 2rem;
    left: 10.5rem;
    transform-style: preserve-3d;
    transform-origin: left;
}

#img-rightRow1 {
    transform: rotateY(64deg);
}

#img-rightRow2 {
    transform: rotateY(44.2deg);
    z-index: -1;
}

@keyframes leftRowShow1 {
    0% {transform: rotateY(-129deg);}
    70% {transform: rotateY(10deg);}
    80% {transform: rotateY(0deg);}
    90% {transform: rotateY(5deg);}
    100% {transform: rotateY(0deg);}
}

@keyframes leftRowShow2 {
    0% {transform: rotateY(-105deg);}
    70% {transform: rotateY(10deg);}
    80% {transform: rotateY(0deg);}
    90% {transform: rotateY(5deg);}
    100% {transform: rotateY(0deg);}
}

@keyframes rightRowShow1 {
    0% {transform: rotateY(64deg);}
    70% {transform: rotateY(-10deg);}
    80% {transform: rotateY(0deg);}
    90% {transform: rotateY(-5deg);}
    100% {transform: rotateY(0deg);}
}

@keyframes rightRowShow2 {
    0% {transform: rotateY(44.2deg);}
    70% {transform: rotateY(-10deg);}
    80% {transform: rotateY(0deg);}
    90% {transform: rotateY(-5deg);}
    100% {transform: rotateY(0deg);}
}


/* another fly */

#ano-fly {
	position: absolute;
	top: 131.9rem;
    left: 46rem;
    transform-style: preserve-3d;
    transform: rotate(-23deg);
    animation: flyMove 5s linear;
    animation-fill-mode: forwards; 
}

@keyframes flyMove {
	0% {top: 131.9rem;left: 46rem;transform: rotateY(0deg);}
	15% {top: 131.9rem;left: 50rem;transform: rotateY(0deg);}
	15% {top: 131.9rem;left: 49rem;transform: rotateY(0deg);}
	15.5% {top: 131.9rem;left: 50rem;transform: rotateY(0deg);}
	15.6% {top: 131.9rem;left: 49rem;transform: rotateY(0deg);}
	15.7% {top: 131.9rem;left: 50rem;transform: rotateY(0deg);}
	25% {top: 131.9rem;left: 5rem;transform: rotateY(0deg);}
	50% {top:145.9rem;left: 5rem;transform: rotateY(0deg);}
	55% {top:145.9rem;left: 5rem;transform: rotateY(180deg);}
	90% {top:145.9rem;left: 60rem;transform: rotateY(180deg);}
	100% {top:145.9rem;left: 70rem;transform: rotateY(180deg);}
}

/* flys */

#img-new {
    position: absolute;
    top: 122.5rem;
    left: 53rem;
}

#img-fly1, #img-fly2 {
    position: absolute;
    top: 130rem;
    left: 9rem;
    transform-style: preserve-3d;
	transform-origin: bottom; 
	transform: rotateY(180deg);
	z-index: 10;
}

#img-fly3, #img-fly4, #img-fly5 {
    position: absolute;
    top: 145rem;
    left: 9rem;
    z-index: 10;
}

#img-fly1 {
    left: 31rem;
    opacity: 0;
}

#img-fly2 {
	opacity: 0;
}

#img-fly3 {
	left: 20rem;
	opacity: 0;
}

#img-fly4 {
	left: 41rem;
	opacity: 0;
}

#img-fly5 {
	left: 63rem;
	opacity: 0;
}

@keyframes flyUp1 {
	from {opacity: 0;left: 33rem;}
	to {opacity: 1;left: 31rem;}
}

@keyframes flyUp2 {
	from {opacity: 0;left: 11rem;}
	to {opacity: 1;left: 9rem;}
}

@keyframes flyUp3 {
	from {opacity: 0;left: 18rem;}
	to {opacity: 1;left: 20rem;}
}

@keyframes flyUp4 {
	from {opacity: 0;left: 39rem;}
	to {opacity: 1;left: 41rem;}
}

@keyframes flyUp5 {
	from {opacity: 0;left: 61rem;}
	to {opacity: 1;left: 63rem;}
}


/* flags */

#img-flag-flow1, #img-flag-flow2 {
    position: absolute;
    top: 130rem;
    left: 9rem;
    background-image: url(../images/flag-flow.png);
    background-repeat: no-repeat;
    width: 14rem;
    height: 7rem;
}

#img-flag-flow3, #img-flag-flow4, #img-flag-flow5 {
    position: absolute;
    top: 145rem;
    left: 9rem;
    background-image: url(../images/flag-flow2.png);
    background-repeat: no-repeat;
    width: 14rem;
    height: 7rem;
}

#img-flag-flow1 {
    left: 37rem;
    top: 128.5rem;
    opacity: 0;
}


#img-flag-flow1 p {
	position: relative;
    left: 3rem;
    top: 0.5rem;
    color: white;
    margin: 1rem 0.3rem;
    font-size: 0.9rem;
}


#img-flag-flow1 p span {
    position: absolute;
    right: 3.8rem;
    width: 3.7rem;
    padding: 0.2rem;
    background-color: white;
    color: #ef624c;
    border-radius: 0.2rem;
}

#download {
    top: -0.4rem;
}

#img-flag-flow2 {
    left: 15rem;
    top: 128.5rem;
    opacity: 0;
}

#img-flag-flow2 p {
    position: relative;
    left: 6rem;
    top: 2rem;
    color: white;
    margin: 0.5rem;
    font-size: 1.5rem;
}

#img-flag-flow3 {
    left: 8rem;
    top: 143.5rem;
    opacity: 0;
}

#img-flag-flow3 p {
    margin-left: 2.3rem;
    margin-top: 2.2rem;
    font-size: 1.5rem;
    color: white;
}

#img-flag-flow4 {
    left: 29rem;
    top: 143.5rem;
    opacity: 0;
}

#img-flag-flow4 p {
    margin: 0.8rem;
    font-size: 0.9rem;
    color: white;
}

#img-flag-flow5 {
    left: 51rem;
    top: 143.5rem;
    opacity: 0;
}

#img-flag-flow5 p {
    margin-left: 2.3rem;
    margin-top: 2.2rem;
    font-size: 1.5rem;
    color: white;
}



@keyframes flagUp1 {
	from {opacity: 0;left: 39rem;}
	to {opacity: 1;left: 37rem;}
}

@keyframes flagUp2 {
	from {opacity: 0;left: 17rem;}
	to {opacity: 1;left: 15rem;}
}

@keyframes flagUp3 {
	from {opacity: 0;left: 6rem;}
	to {opacity: 1;left: 8rem;}
}

@keyframes flagUp4 {
	from {opacity: 0;left: 27rem;}
	to {opacity: 1;left: 29rem;}
}

@keyframes flagUp5 {
	from {opacity: 0;left: 49rem;}
	to {opacity: 1;left: 51rem;}
}


/* contact */
.contact {
    position: absolute;
    top: 151rem;
    left: 51rem;
    width: 21rem;
    height: 21rem;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
}

.contact p {
    position: relative;
    left: -4.3rem;
    top: 4rem;
    margin: 0.3rem;
    font-size: 0.9rem;
    text-align: center;
    color: white;
}

#contact-email {
    margin-top: 1rem;
}

#contact-address {
    margin-top: 0.6rem;
}
